@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed:100');
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#root {
  overflow-x: hidden;
  width: 100%;
}

.disable-cover {
  background-color: rgba(0,0,0, 0.9)
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 23vh;
  padding-right: 20%;
  padding-left: 20%;
}

.media-object {
  width: 70%;
  min-width: 100px;
  padding: 0.75em 0 0.75em 0 ;
}


.logo {
  position: absolute;
  top: 0;
  left: 0;
  color: #2E5378;
  width: 18%;
}

.headerlink {
  padding-top: 2em;
  font-family: 'Barlow', sans-serif;
  padding-left: 5px;
}

.headerlink > a>h2 {
  font-size: 2.5vw;
}

.dropdown-container {
  position: absolute;
  z-index: 9999;
  width: 100%;
  background-color: white;
  display: none;
  border-top: 0.5px solid #2E5378;

}

.dropdownlink {
  background-color: white;
  display: block;
  border-bottom: 0.5px solid #2E5378;

}

.fa-bars {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 40px;
  color: #2E5378;
  display: none;
}

#fa-bars {
  font-size: 3em;
}

a {
    text-decoration: none;
    color: #2E5378;
}

.video-title {
  position:relative;
 }

.main-video {
  z-index:0;
  position: relative;
  padding-top: 56.25%
}

.overlay {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  margin: 0;
  width: 100%;
  font-size: 8vw;
  color: white;
}

.content-videos {
    height:110vh;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website1.jpg?8679735183948948820') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.content-blog {
    height:110vh;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.top-section {
  margin-top: 0%
}

.services-training-1 {
    height:65vh;
    background-color: #9AC0CD;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
    display: table;
}
.services-training-2 {
    height:65vh;
    background-color: #00688B;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
    display: table;
}
.services-training-3 {
    height:65vh;
    background-color: #50A6C2;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
    display: table;
}
.services-training-4 {
    height:65vh;
    background-color: #236B8E;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
    display: table;
}
.services-training-5 {
    height:60vh;
    background-color: #B4CDCD;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
    display: table;
}

.services-camps {
    height:110vh;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.services-consulting {
    height:110vh;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.services-workshops {
    height:110vh;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.products-gear {
    height:110vh;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.products-programs {
    height:110vh;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

 .content-blog:hover .img__description_layer {
  visibility: visible;
  opacity: 1;

}

 .content-videos:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .services-training-1:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.services-training-2:hover .img__description_layer {
 visibility: visible;
 opacity: 1;
}
.services-training-3:hover .img__description_layer {
 visibility: visible;
 opacity: 1;
}
.services-training-4:hover .img__description_layer {
 visibility: visible;
 opacity: 1;
}
.services-training-5:hover .img__description_layer {
 visibility: visible;
 opacity: 1;
}

 .services-camps:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .services-workshops:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .services-consulting:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .products-gear:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .products-programs:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(85, 123, 151, 1); */
  background: white;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__description {
  transition: .2s;
  position:absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  margin: 0;
  font-size: 2em;
  color: white;
}

.title {
  position: absolute;
  margin: 0;
  font-size: 10em;
  color: white;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: 'Barlow Condensed', sans-serif;
}

.title3 {
  position: absolute;
  margin: 0;
  font-size: 10em;
  color: #2E5378;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: 'Barlow Condensed', sans-serif;
}

.title2-camps {
  margin: 0;
  font-size: 10em;
  color: white;
  width: 100%;
  margin-top: 0vh;
}

.title-strength {
  position: absolute;
  margin: 0;
  font-size: 10em;
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0.9;
  width: 100%;
}

.affiliates {
  padding-top: 2vh;
  padding-bottom: 5vh;
}

.affiliate-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pic {
  width: 20%;
}

.actual {
width: 100%
}

.pic-dev {
  width: 10%;
}

.actual1{
width: 100%;
background-color: black;
padding: 10px;
margin-top: 10px;
}

.home-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4%;
  background-color: rgba(128,128,128, 0.1);
}

.home-about-pic {
  padding-top: 8%;
  width: 45%;
}

.home-pic {
  width: 90%;
}

.home-about-bio {
  padding-top: 8%;
  width: 45%;
  padding-right: 5%;
  font-size: 2em;
  line-height: 1.5;
}

.home-header {
  font-size: 2em;
  color: #2E5378;
  font-family: 'Barlow', sans-serif;
}

.contact-header {
  padding-top:5vh;
}

.who-we-are-text {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5vh;
  font-size: 1.5em;
  line-height: 1.2;
  font-family: 'Barlow', sans-serif;
  color: #2E5378;
  text-align: left;
}

.page-header {
  background-color: rgba(46, 83, 120, 0.8);
  position: absolute;
  color: #FFF;
  height: 13vh;
  width: 28%;
  left: 50%;
  margin-left: -14%;
  top: 16%;
  font-size: 2.5em;
  z-index: 1;
  font-family: 'Barlow', sans-serif;
}

.page-header-reg {
  background-color: rgba(46, 83, 120, 0.8);
  position: relative;
  color: #FFF;
  height: 14vh;
  width: 36%;
  left: 50%;
  margin-left: -18%;
  top: 14%;
  font-size: 2.5em;
  z-index: 1;
  font-family: 'Barlow', sans-serif;
}

.page-header-large {
  background-color: rgba(46, 83, 120, 0.8);
  position: relative;
  color: #FFF;
  height: 13vh;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  top: 14%;
  font-size: 2.5em;
  z-index: 1;
  font-family: 'Barlow', sans-serif;
}

.page-header-text {
  position: relative;
  margin: 0;
  color: white;
  top: 50%;
  left: 50%;
  font-size: 6vw;
  transform: translate(-50%, -50%);
}

.slider-container {
  padding-bottom: 5vh;
}

.ind-slider {
  height: 50vh;
  border: 1px solid black;
}

.ind-slider-text {
  padding: 20px;
}

.big {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 15vw;
}

.small {
  font-size: 0.5em;
  font-family: 'Barlow Condensed', sans-serif;
  margin-top: 0;
}

.training-descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.training-text {
  padding-left: 0;
  color: #2E5378;
  font-size: 2.5vw;
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  list-style-type: square;
}

.training-text-centered {
  padding-left: 0;
  color: #2E5378;
  font-size: 2.5vw;
  text-align: centered;
  font-family: 'Barlow Condensed', sans-serif;
  list-style-type: square;
}

.training-text2 {
  padding-left: 0;
  color: #2E5378;
  font-size: 2.3vw;
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  list-style-type: square;
}

.training-text3 {
  padding-left: 0;
  color: #2E5378;
  font-size: 2vw;
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
  list-style-type: square;
}

.training-text-first {
  padding-left: 0;
  margin: 0;
  color: #2E5378;
  font-size: 2.5vw;
  text-align: center;
  font-family: 'Barlow Condensed', sans-serif;
}

.training-header {
  font-size: 4vw;
  margin-bottom: 0;
  color: #2E5378;
  font-family: 'Barlow Condensed', sans-serif;
}

.training-header-sub {
  font-size: 4vw;
  margin-bottom: 0;
  margin-top: 0;
  color: #2E5378;
  font-family: 'Barlow Condensed', sans-serif;
}

.training {
 width:50%;
 margin-top: 8vh;
}

.training-other {
 width:50%;
 margin-top: 5vh;
}

.training-camp {
 width:50%;
 margin-top: 3vh;
}

.training3 {
 width:50%;
}

.training-pic {
 height: 50vh;
 margin-top: 10vh;
 width: 50%;
 background: url('https://i.imgur.com/LwNIVQv.jpg') center center no-repeat;
 background-size:cover;
 position: relative;
}

.training-pic-sub1 {
 height: 50vh;
 margin-top: 7.5vh;
 width: 50%;
 background: url('https://i.imgur.com/Q7fa6Mc.jpg') center center no-repeat;
 background-size:cover;
 position: relative;
}

.training-pic-sub2 {
 height: 50vh;
 margin-top: 7.5vh;
 width: 50%;
 background: url('https://i.imgur.com/UQIN9k2.jpg') center center no-repeat;
 background-size:cover;
 position: relative;
}

.training-pic-sub3 {
 height: 50vh;
 margin-top: 7.5vh;
 width: 50%;
 background: url('https://i.imgur.com/ObfPlgo.jpg') center center no-repeat;
 background-size:cover;
 position: relative;
}

.camps {
 width:70%;
 text-decoration: none;
 border: 1px solid black;
 border-radius: 5;
 margin-top: 5vh;
 height: 450px;
}

li {
  padding-left: 0
}

.ul-training1 {
  display: flex;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
  flex-direction: column;
}

.ul-camps1 {
  display: flex;
  justify-content: space-between;
  padding-right: 15%;
  padding-left: 15%;
  flex-direction: row;
}

.ul-camps2 {
  display: flex;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
  flex-direction: row;
}

.ul-training2 {
  display: flex;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
  flex-direction: column;
}

.ul-camp-width {
  width: 50%
}

.register-link {
    font-size: 1.5vw;
    background-color: clear;
    padding-bottom: 1%;
    width: 30%;
    margin: 0 auto;
    border: 4px solid white;
    margin-top: 8vh;
    font-family: 'Barlow', sans-serif;
}

.register-link:hover {
  background-color: #2E5378;
}

.register-link-text {
  color:white;
  margin-top: 5px;
  margin-bottom: 5px;
}

.mobile-register-link{
  display: none;
}

.about-header {
  font-family: 'Barlow', sans-serif;
  font-size: 3.5vw;
  margin-top: 0;
  color: #2E5378;
}

.mobile-about-header, .mobile-about-header1 {
  display: none;
}

.about-text {
  font-size: 1.7vw;
  color: #2E5378;
  font-family: 'Barlow Condensed', sans-serif;
}

.widget-container {
  width: 100%;
  margin: 0 auto;
}

.hc_footer {
  visibility: hidden;
}

.fas {
font-size: 4em;
padding-right: 30px;
}

.fa-running  {
  width: 34%;
  text-align: center;
}
.fa-flask {
  width: 30%;
  text-align: center;
  padding-top: 10px;
}

.description-icon {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 80%;
  margin: 0 auto;
}

.description-icon-strength {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}

.centered-icon {
  line-height: 1.5;
}

.slider-text {
  padding-left: 10%;
  padding-right: 10%;
  color: #2E5378;
  font-size: 2.2vw;
  font-family: 'Barlow Condensed', sans-serif;
}

.video-text-ind {
  padding-left: 10%;
  padding-right: 10%;
  color: #2E5378;
  font-size: 2vw;
  font-family: 'Barlow Condensed', sans-serif;
}

.slider-header {
  color: #2E5378;
}

.az-training-button {
  width: 40%;
  background-color: #D65745;
  height: 8.5vh;
  margin-left: 5%;
  /* border-radius: 8px; */
}
``
.az-training-button:hover {
  background-color: #2E5378

}

.az-training-button2 {
  width: 40%;
  background-color: #D65745;
  height: 8vh;
  align-self: center;
  /* border-radius: 8px; */
}


.az-training-button3 {
  width: 40%;
  background-color: #D65745;
  height: 6.5vh;
  align-self: center;
  padding-top: 8px;
  /* border-radius: 8px; */
}

.az-training-button2:hover {
  background-color: #2E5378

}

.training-link-text {
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 1.8vw;
  margin-top: 10px;
  width: 100%;
}

.training-link-text2 {
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 3vw;
  width: 100%;
}

.training-link-text3 {
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 2.3vw;
  width: 100%;
  margin-top: 10vh;
}

.form-container {
  display: flex;
  flex-direction: column;
}

/* contact form */
.header-text-form {
  color: #2E5378;
  font-family: 'Barlow', sans-serif;
  font-size: 2.5vw;
  margin-top: 0;
}

.header-text-form2 {
  color: #2E5378;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2.0vw;
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.no-margin-top-vid {
  margin-top: 0;
  margin-bottom: 10vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
  min-width: 500px;

}

.inner-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.left-inputs {
  display: flex;
  flex-direction: column;
  width: 45%
}
.right-inputs {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.text-input-contact {
  border:1px solid #2E5378;
  font-size: 1.5vw;
  outline:0;
  padding: 1em;
  border-radius: 8px;
  width: 86%;
  margin-top: 1em;
  font-family: 'Barlow Condensed', sans-serif;
}

.text-input-contact-date {
  border:1px solid #2E5378;
  font-size: 1.5vw;
  outline:0;
  padding: 1em;
  border-radius: 8px;
  margin-top: 1em;
  width: 19.5vw;
  font-family: 'Barlow Condensed', sans-serif;
  align-self: left;
}

.text-input-contact-first {
  border:1px solid #2E5378;
  font-size: 1.5vw;
  outline:0;
  padding: 1em;
  border-radius: 8px;
  width: 86%;
  margin-top: 0.5em;
  font-family: 'Barlow Condensed', sans-serif;
}

.text-input-submit {
  background-color: #D65745;
  outline:0;
  padding: 1em;
  border-radius: 8px;
  width: 100%;
  margin-top: 1em;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5vw;
  color: white;
}

.text-input-checkbox {
  font-size: 1.8vw;
  outline:0;
  padding: 0.2em;
  font-family: 'Barlow Condensed', sans-serif;
  text-align: left;
}

.text-input-textarea {
  border:1px solid #2E5378;
  outline:0;
  padding: 1em;
  border-radius: 8px;
  width: 86%;
  margin-top: 0.5em;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5vw;
  height: 79%
}

form {
  width: 50%;
}

.register-page-form {
  padding-top: 4%;
}

.grey {
  background-color: rgba(128,128,128, 0.1);
}

.text-input-textarea-camp {
  border:1px solid #2E5378;
  outline:0;
  padding: 1em;
  border-radius: 8px;
  width: 86%;
  margin-top: 0.5em;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.5vw;
  height: 19%;
}

input[type='checkbox'] {
  margin-right: 5px;
}

.checkbox-text {
  font-family: 'Barlow', sans-serif;
  font-size: 2.5vw;
  color: #2E5378;
  margin-top: 0;
  margin-bottom: 0;
}

.video-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 8%;
}


.video-page-video {
  margin-top: 15vh;
}

.player {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* mobile */
@media screen and (max-width: 900px) {
  .home-header {
    font-size:1.5em;
  }

  .header {
    height: 18vh;;
  }

  .register-link {
    display: none;
  }
  .register-link-text {
    font-size: 2.5vw;
  }

  .headerlink {
      visibility: hidden;
    }

  .fa-bars {
    display: block;
  }
  .description-icon, .description-icon-strength {
    flex-direction: column;
    width: 90%;
  }
  .description-icon > p, .description-icon-strength > p{
    text-align: center;
  }

  .affiliate-pics {
    flex-direction: column;
  }
  .centered-icon, .fa-dumbbell {
    padding-right: 0px;
    text-align: center;
  }
  .fa-flask, .fa-running {
    width: 100%
  }

  .pic {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 5vh;
  }

 .pic-dev {
   width: 45%;
   margin: 0 auto;
 }

 .mobile-register-link {
       font-size: 5vw;
       background-color: #2E5378;
       padding-bottom: 1%;
       width: 90%;
       margin: 0 auto;
       margin-top: 4vh;
       margin-bottom: 4vh;
       font-family: 'Barlow', sans-serif;
       display: block;
   }

   .mobile-register-link-text {
     color:white;
     margin-top: 5px;
     margin-bottom: 5px;
   }

   .page-header, .page-header-reg {
     background-color: rgba(46, 83, 120, 0.8);
     position: relative;
     color: #FFF;
     height: unset;
     width: 100%;
     left: 0%;
     margin-left: 0%;
     font-family: 'Barlow', sans-serif;
   }

   .page-header-text {
     position: relative;
     margin: 0;
     color: white;
     font-size: 18vw;
     top: 0%;
     left: 0%;
     font-size: 15vw;
     transform: translate(0%, 0%);
     padding-top: 3%;
     padding-bottom: 3%;

   }

   .home-about {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding-bottom: 4%;
     background-color: rgba(128,128,128, 0.1);
   }

   .home-about-pic {

     padding-top: 8%;
     width: 100%;
   }

   .home-pic {
     width: 90%;
   }

   .home-about-bio {
     padding-top: 2%;
     width: 90%;
     font-size: 20vw;
     margin: 0 auto;
     padding-right: 0%;
   }

   .mobile-about-header {
     color:  #2E5378;
     display: block;
     font-size: 15vw;
     margin-bottom: 0;
   }

   .mobile-about-header1 {
     color:  #2E5378;
     display: block;
     font-size: 7vw;
   }

   .about-header {
     display: none;
   }

   .about-text {
     font-size: 5vw;
     color: #2E5378;
     font-family: 'Barlow Condensed', sans-serif;
     text-align: center;
   }

   .slider-text {
     padding-left: 10%;
     padding-right: 10%;
     color: #2E5378;
     font-size: 5vw;
     font-family: 'Barlow Condensed', sans-serif;
   }

   .testimonial-header-mobile {
     margin-bottom: 0;
   }

   .header-text-form2 {
     color: #2E5378;
     font-family: 'Barlow Condensed', sans-serif;
     font-size: 5.0vw;
     margin-top: 0;
   }

   .form-container {
     min-width: 0px;
   }

   .inner-form{
     flex-direction: column;
   }

   #mc-embedded-subscribe-form, .right-inputs, .left-inputs{
     width: 100%;
     align-items: center;
   }

   .text-input-contact-first, .text-input-contact, .text-input-textarea, .text-input-submit {
     width: 85%;
     font-size: 5vw;
     margin-top: 0.5em;

   }
   .top-section {
     margin-top: 0%
   }

   .logo{
     left: 3%;
   }
}
