@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed:100');
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20%;
}

.media-object {
  width: 70%;
}

.logo {
  width: 20%
}

.headerlink {
  padding-top: 2em;
  font-family: 'Barlow', sans-serif;

}

a {
    text-decoration: none;
    color: #2E5378;
}

.video-title {
  position:relative;
 }

.main-video {
  position:relative;
  z-index:0;
  width: 100%;
}

.overlay {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  margin: 0;
  font-size: 6em;
  color: white;
}

.content-videos {
    height:700px;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website1.jpg?8679735183948948820') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.content-blog {
    height:700px;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}


.services-training {
    height:700px;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
    display: table;
}

.services-camps {
    height:700px;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.services-consulting {
    height:700px;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.services-workshops {
    height:700px;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.products-gear {
    height:700px;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

.products-programs {
    height:700px;
    background: url('https://cdn.shopify.com/s/files/1/0022/0391/0213/files/website_3.jpg?13120178400612520949') center center no-repeat;
    background-size:cover;
    min-height:50%;
    bottom: 0;
    width: 100%;
    position: relative;
}

 .content-blog:hover .img__description_layer {
  visibility: visible;
  opacity: 1;

}

 .content-videos:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .services-training:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .services-camps:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .services-workshops:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .services-consulting:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .products-gear:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

 .products-programs:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: rgba(85, 123, 151, 1); */
  background: white;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__description {
  transition: .2s;
  position:absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:1;
  margin: 0;
  font-size: 2em;
  color: white;
}

.title {
  position: absolute;
  margin: 0;
  font-size: 10em;
  color: white;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  font-family: 'Barlow Condensed', sans-serif;
}

.title2 {
  margin: 0;
  font-size: 10em;
  color: #2E5378;
  width: 100%;
  margin-top: 10vh;
  font-family: 'Barlow Condensed', sans-serif;
}

.title2-camps {
  margin: 0;
  font-size: 10em;
  color: white;
  width: 100%;
  margin-top: 0vh;
}

.title-strength {
  position: absolute;
  margin: 0;
  font-size: 10em;
  color: white;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 0.9;
  width: 100%;
}

.affiliates {
  padding-top: 2vh;
  padding-bottom: 5vh;
}

.affiliate-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pic {
  width: 20%;
}

.actual {
width: 100%
}

.actual1{
width: 100%;
background-color: black;
padding: 10px;
margin-top: 10px;
}

.home-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4%;
  background-color: rgba(128,128,128, 0.2);
}

.home-about-pic {
  padding-top: 8%;
  width: 45%;
}

.home-pic {
  width: 90%;
}

.home-about-bio {
  width: 45%;
  padding-right: 5%;
  font-size: 2em;
  line-height: 1.5;
}

.home-header {
  font-size: 2em;
  color: #2E5378;
  font-family: 'Barlow', sans-serif;
}

.who-we-are-text {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.5em;
  line-height: 2;
  font-family: 'Barlow Condensed', sans-serif;
}

.page-header {
  background-color: #2E5378;
  position: absolute;
  color: #FFF;
  height: 13vh;
  width: 32%;
  left: 50%;
  margin-left: -16%;
  top: 21%;
  font-size: 2.5em;
  z-index: 1;
  border-radius: 50px;
  font-family: 'Barlow', sans-serif;
}

.page-header-rel {
  background-color: #2E5378;
  position: relative;
  color: #FFF;
  height: 13vh;
  width: 32%;
  left: 50%;
  margin-left: -16%;
  top: 17%;
  font-size: 2.5em;
  z-index: 1;
  border-radius: 50px;
}

.page-header-text {
  position: relative;
  margin: 0;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-container {
  padding-bottom: 5vh;
}

.ind-slider {
  height: 50vh;
  border: 1px solid black;
}

.ind-slider-text {
  padding: 20px;
}

.big {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

.small {
  font-size: 0.5em;
  font-family: 'Barlow Condensed', sans-serif;
}

.training-descriptions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.training-text {
  padding-left: 0;
  color: #2E5378;
  font-size: 2em;
  text-align: left;
  font-family: 'Barlow Condensed', sans-serif;
}

.training-header {
  font-size: 3.5em;
  margin-bottom: 0;
  color: #2E5378;
  font-family: 'Barlow Condensed', sans-serif;
}

.training {
 width:48%;
 text-decoration: none;
 border: 1px solid black;
 border-radius: 5;
 margin-top: 5vh;
}

.training:hover, .camps:hover {
  background-color: #2E5378;
}

.camps {
  width:90%;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5;
  margin-top: 3vh;
}

.camp-header {
  font-size: 2em;
  margin-bottom: 0;
  color: black;
}


.camp-text {
  padding-left: 0;
  color: white;
  font-size: 1.5em;
  text-align: left;
}

li {
  padding-left: 0
}

.ul-training {
  display: flex;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  flex-direction: column;
}

.register-link {
    font-size: 3em;
    background-color: #2E5378;
    padding-bottom: 1%;
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 8vh;
    font-family: 'Barlow', sans-serif;
}

.register-link:hover {
  background-color: #000;
}

.register-link-text {
  color:white;
  margin-top: 5px;
  margin-bottom: 5px;
}
